@font-face {
  font-family: "Droid Serif";
  src: local("Droid Serif"), local("DroidSerif"),
    url("../fonts/droidserif.woff2") format("woff2"),
    url("../fonts/droidserif.woff") format("woff"),
    url("../fonts/droidserif.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Droid Serif";
  src: local("Droid Serif Italic"), local("DroidSerif-Italic"),
    url("../fonts/droidserifitalic.woff2") format("woff2"),
    url("../fonts/droidserifitalic.woff") format("woff"),
    url("../fonts/droidserifitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}